<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/after.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Podcast</title>
</head>
<body>
    <!-- Navbar -->
    <%-include('header/navbar.ejs', {login: login, money: money})%>

    <!-- End Of Navbar -->

    <div class="podcast">
        <div class="text_header">
            <h2> <strong>Quiz</strong></h2>
        </div>
        <div class="flex-box">
            <%-include('box/podcast-item.ejs', {id: id, name: name, username: username})%>
        </div>
        <div class="finish">
                <h3> <strong> You have listened to this podcast.  Click here to start the quiz  </strong></h3>
        </div>
        <button class="start-button" onclick="window.location.href = '/quizz/<%=id%>';">Start</button>
    </div>
</body>
</html>