<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/buy_pod.css">
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <title>Buy Podcast</title>
        <script src="/jquery/jquery.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <%-include('header/navbar.ejs', {login: login, money: money})%>
        <!-- End Of Navbar -->
        <!-- Back To Top Button -->
        <a href="#" class="to_top">
            <i class="fa fa-chevron-up"></i>
            <script src="/js/to_top.js"> </script>
        </a>
        <!-- End Of "Back To Top Button"-->

        <!-- Main Content -->
        <div class="container">
            <%- include('box/podcast-item', {id: podcast._id, name: podcast.name, username: podcast.ownerId.username}); %>
            <div class="buying_box">
                <p>Tập Podcast này đáng giá 1 AOK. Bạn có chắc chắn muốn mua Podcast này?</p>
                <div class="btn_row">
                    <button class="submit" onclick="sendToken()">Xác nhận</button>
                    <button class="decline" onclick="window.location.href = '/podcast'">Từ chối</button>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%-include('header/footer.ejs')%>
        <script src="/js/blockchain/plug.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>