<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/news.css">
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
        <title>News</title>
    </head>
    <body>
        <!-- Navbar -->
        <%-include('header/navbar.ejs', {login: login, money: money})%>
        <!-- End Of Navbar -->
        <main class="news_section">
            <!-- Blog-News Section -->
            <div class="wrapper">
                <div class="blog">
                    <% news.forEach(function(newsItem){ %>
                        <%- include('box/news-item', {id: newsItem._id, title: newsItem.title, content: newsItem.content}); %>
                    <% }); %>
                    </div>
                </div>
            </div>

            <!-- Back To Top Button -->
            <a href="#" class="to_top">
                <i class="fa fa-chevron-up"></i>
                <script src="../js/activePage.js"> </script>
            </a>
            <!-- End Of "Back To Top Button"-->
        </main>
        <!-- Footer -->
        <%-include('header/footer.ejs')%>
        <!-- End Of Footer -->
    </body>
</html>
