:root {
    --top_var: 31%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    width: auto;
    background: linear-gradient(to top, #202020, #676767 );
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/* Custom Scrollbar */
html::-webkit-scrollbar {
    width: 20px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* End of Custom Scrollbar */

/* ---------- Header ---------- */
header {
    position: fixed;
    display: flex;
    height: 70px;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial Bold, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right, #FFE56F, #A9FF9F);
    border-radius: 2px;
}


.logo {
    width: 140px;
    height: auto;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;

}

header ul li {
    list-style: none;
    margin-left: 40px;


}

header ul li a {
    color: #202020;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

header ul li a:hover {
    color: #000;
    box-shadow: 0 0 5px #FFFF00,
        0 0 20px rgb(255 255 0 / 0.8),
        0 0 35px rgb(255 255 0 / 0.7),
        0 0 50px rgb(255 255 0 / 0.6);
    background: #ffff00;
    transition: all 0.5s ease-out;
}

header ul li a.active {
    background: #ffff00;
    color: #000;


}

header ul li button.connect {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(to right, #ffff00 0%, #ff3399 100%);
    color: #000;

}

/* Login Button */
.login {
    outline: 0;
    position: relative;
    border-radius: 15px;
    display: inline-block;
    padding: 6px 40px;
    font-size: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 1px;
    background: #e88845;
    color: white;
    font-weight: 500;
    font-family: "noto sans", sans-serif;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}


.login:hover {
    background-color: rgb(168, 36, 36);
    color: #000;
    box-shadow: 0 0 5px rgb(168, 36, 36),
        0 0 20px rgb(24.75 21.57 53.68 / 0.8),
        0 0 35px rgb(24.75 21.57 53.68 / 0.7),
        0 0 50px rgb(24.75 21.57 53.68 / 0.6);
}

.dropdown a {
    border: none;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    margin: 4px 6px;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    background-color: #e88845;
    color: #fff;
    border-radius: 15px;
}

.dropdown-content {

    background-color: inherit;
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    border-radius: 15px;


}

.dropdown:hover .dropdown-content {
    overflow-x: hidden;
    display: block;


}

.dropdown-content a {
    font-family: "Noto Sans", sans-serif;
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: yellow;
    color: #000;
    border-radius: 15px;


}

/* ---------- End of header ----------*/







/* --------- Charity Section --------- */

.detail-content{
    height: 100vh;
    display: flex;
    justify-self: stretch;
    align-items: center;
    flex-direction: column;
}


div .screen_name{
    position: relative;
    top: 80px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    background: -webkit-linear-gradient(#FFE56F, #A9FF9F);
    font-family: "Noto Sans", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div .text_description{
    position: relative;
    top: 100px;
    display: flex;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

div .text-bottom {
    position: relative;
    color: #fff;
    font-size: 30px;
    padding: 50px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    background: -webkit-linear-gradient(#FFE56F, #A9FF9F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.charity_organizations {
    position: relative;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.group {
    width: 200px;
    background-color: red;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    text-align: center;
    flex: 0 32%;
  height: 170px;
  margin-bottom: 5%; 
  cursor: pointer;
}

/* --------- End of Charity Section --------- */



/* ---------- Back To Top Button ----------*/
.to_top{
    background: rgb(150, 202, 115);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #000;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to_top.active {
    bottom:32px;
    pointer-events: auto;
    opacity: 1;
}
/* ---------- End Of Back To Top Button ---------- */




/* ---------- Footer ---------- */
.footer{
    text-align: center;
    background-color:rgb(248, 244, 244);
    padding: 40px;
    bottom: 0;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.footer .socials {
    display: flex!important;
    justify-content: center;
    padding-bottom: 50px;
    color: #4b4c4d;
}
.footer .socials a{
    text-align: center;
    width: 50%;
    height: 50%;
    opacity: 2;
    display: block;
    top:0;
    transition: top 0.5s;
    font-size: 25px;
}
.footer .socials a:hover{
    /* opacity: 2; */
    position: relative;
    color: #6558db;
    transform: translateX(-3px);
    /* top: -10px; */
}
.footer ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 0;
    font-size: 18px;
    line-height:1.6;
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.footer ul li a{
    display: flex;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: flex;
    padding: 0 30px;
    transition: 0.5s;
}
.footer ul li a:hover{
    display: flex;
    opacity: 13;
    color: black;
    font-weight: bold;
}

.footer .list li {
    align-items: center;
    width: 120px;
    height: 30px;
    transition: 0.5s;
}

.footer .list li:hover {
    position: relative;
    text-shadow: 1px 0px #4b4c4d;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: #aaa;
}

/* ---------- End Of Footer ---------- */

