<div class="single_blog">
    <div class="blog_img">
        <img src="/api/news/getimage/<%=id%>" alt="" />
    </div>

    <div class="blog_content">
        <div class="text">
            <h4><%=title%></h4>
        </div>
        <p><%=content%></p>
        <div class="read_more">
            <a href="/blog/<%=id%>">read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
    </div>
</div>