<div class="podcast-box" onclick="window.location.href = '/buy_pod/<%=id%>'">
    <div class="pod-thumb">
        <img src="/api/podcast/getimage/<%=id%>" alt="" />
    </div>
    <h3 class="pod-name"><%=name%></h3>
    <div class="box-info">
        <h3 class="pod-author"><%=username%></h3>
    </div>
</div>