<header>
    <a href="/"><img src="/assets/logo.png" alt="logo" class="logo" /> </a>
    <ul class="nav_links">
        <li><a href="/"> <strong>Home</strong></a></li>
        <li><a href="/news"><strong>News</strong></a></li>
        <li><a href="/podcast"><strong>Podcast</strong></a></li>
        <li><a href="/game"><strong>Game</strong></a></li>
        <li>
            <div class="dropdown">
                <a> <strong> More </strong> <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="/charity">Charity</a>
                    <a href="/leaderboard">LeaderBoard</a>
                </div>
            </div>
        </li>
        <li>
            <%if(login !== undefined){%>
                <button class="login" onclick="window.location.href='/api/user/logout'">
                    <strong>
                        Hello <%=login%> (<%=money%> AOK)
            <%} else {%>
                <button class="login" onclick="window.location.href='/login'">
                    <strong>
                        Login
            <%}%>
                </strong>
            </button>
        </li>
    </ul>
    <script src="/js/activePage.js"></script>
</header>